@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


$headerColor: #F8F8f8;

body {
    font-family: Lato, sans-serif;
}


header {

    height: 3.8rem;
    border: 1px solid orange;
    background-color: $headerColor;
    margin: auto;
    font-size: 0.8rem;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1150px;
    margin: auto;
    height: 3.8rem;
    background-color: lightyellow;
    nav a {
        text-decoration: none;
        padding: 0.5rem 0.65rem;
    }
    .social i{
        margin: 0;
        font-size: 0.75rem;
        padding: 0 .44rem;
    }
}

.body-container {
    display: flex;

    background-color: lightblue;
    width: 1150px;
    margin: 0 auto;
    height: 100vh;
    main {
        background-color: lightcoral;
        width: 67.55%;
    }
    aside {
        background-color: lightseagreen;
        width: 33%;
        div{

        }
    }
}

.blog-post {
    margin: 3rem 0rem;

    img {
        width: 46.38rem;
        height: 29.2rem;
        margin: 0 0.7rem;
    }

    .blog-post-main {
        text-align: center;
    }

    h2 {
        color: #DA5C39;
        font-size: 0.8rem;
    }
    .btn {

    }
    p {
        border-top: 1px solid lightgray;
    }
}