@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  background-color: #f4f4f4;
  height: 100vh;
}

header {
  height: 3.8rem;
  background-color: #f8f8f8;
  margin: auto;
  font-size: 0.7rem;
  font-family: 'lato', sans-serif;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1210px;
  margin: auto;
  height: 3.8rem;
}

.header-container nav {
  margin-top: 0.1rem;
}

.header-container nav a:first-child {
  margin-left: 2rem;
}

.header-container nav a {
  margin-left: 0.05rem;
  text-decoration: none;
  padding: 0.5rem 0.65rem;
  font-weight: 700;
  letter-spacing: 0.9px;
  color: black;
}

.header-container nav a i {
  margin-left: 0.15rem;
}

.header-container .social i {
  color: #b8b8b8;
  font-size: 0.82rem;
  margin-right: 0.78rem;
}

.header-container .social i:last-child {
  margin-right: 1.78rem;
}

.header-container .social i:nth-child(5) {
  margin-right: 1.1rem;
}

.header-container .social i:nth-child(4) {
  margin-right: 0.68rem;
}

.header-container .social i:nth-child(2) {
  margin-right: 0.65rem;
}

.header-container .social i:first-child {
  margin-right: 0.98rem;
}

.header-container .social i:hover {
  color: black;
}

.body-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1210px;
  margin: 0 auto;
}

.body-container main {
  width: 67%;
}

.body-container aside {
  margin-top: 0.15rem;
  width: 35%;
}

.blog-post {
  background-color: #ffffff;
  margin: 3.05rem 0rem 3rem auto;
  border: 1px solid lightgray;
  width: 46.9rem;
}

.blog-post img {
  display: block;
  margin-left: auto;
  width: 46.9rem;
  height: 29.6rem;
}

.blog-post .blog-post-main {
  text-align: center;
}

.blog-post h2 {
  color: #da5c39;
  font-size: 0.8rem;
  margin: 2.85rem 0rem 0rem 0rem;
  font-size: 0.7rem;
  font-weight: 900;
}

.blog-post h3 {
  margin: 1rem 0rem 1.5rem 0rem;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
}

.blog-post .blog-description {
  margin: 0rem 2.64rem;
  line-height: 1.58rem;
  text-align: left;
  font-size: 0.9rem;
}

.blog-post .btn {
  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 0.7rem 1.1rem;
  font-size: 0.75rem;
  cursor: pointer;
  border-color: #da5c39;
  color: #da5c39;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 2.2rem 0rem 2.5rem 0rem;
}

.blog-post .blog-post-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid lightgray;
  margin: 0rem 2.6rem 2rem 2.6rem;
}

.blog-post .blog-post-footer p {
  color: lightgray;
  font-style: italic;
  font-size: 0.85rem;
  padding-top: 0.5rem;
}

.blog-post .blog-post-footer .social {
  color: pink;
}

.blog-post .blog-post-footer .social i {
  padding: 1.5rem 0.39rem 0rem 0rem;
}

.blog-post .blog-post-footer .social i:last-child {
  padding-right: 0rem;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bio {
  position: relative;
  width: 22.42rem;
  margin-top: 3rem;
  background-color: #ffffff;
  height: 31.8rem;
}

.bio .background-photo {
  width: 22.42rem;
  height: 11.5rem;
  background-size: contain;
}

.bio .headshot {
  position: absolute;
  width: 10.5rem;
  height: 10.5rem;
  right: 5.4rem;
  top: 6.2rem;
  border: 8px solid white;
  border-radius: 8rem;
}

.bio h2 {
  font-family: "oswald", sans-serif;
  margin-top: 6.7rem;
  font-size: 1.2rem;
  text-align: center;
}

.bio p {
  text-align: center;
  margin: 1.4rem 2rem 0rem 2rem;
  line-height: 1.5rem;
}

.bio .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.5rem;
  margin-right: 10rem;
  width: 97%;
  color: #b8b8b8;
}

.bio .social i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #b8b8b8;
  font-size: 0.8rem;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  margin: 0 0.25rem;
}

.bio .social i:hover {
  background-color: black;
  color: white;
}

.popular-posts {
  margin-top: 2.4rem;
  width: 22.42rem;
  text-align: center;
  background-color: #ffffff;
}

.popular-posts h2 {
  margin-top: 2rem;
  margin-bottom: 1.9rem;
  font-size: 1.25rem;
  font-family: "oswald";
}

.popular-posts div:nth-child(n + 3) {
  border-top: 1px solid #b8b8b8;
}

.popular-posts div:nth-child(n + 3) img {
  margin-top: 1.25rem;
}

.popular-posts div:last-child {
  margin-bottom: 2.4rem;
}

.popular-posts div:last-child p {
  margin-top: 1rem;
}

.popular-posts .post {
  margin: 0rem 1.9rem;
}

.popular-posts .post img {
  width: 18.7rem;
  height: 12.5rem;
}

.popular-posts .post h3 {
  font-size: 0.85rem;
  text-align: left;
  font-family: "oswald";
}

.popular-posts .post p {
  text-align: left;
  margin-bottom: 1.2rem;
  font-size: 0.8rem;
  font-style: italic;
  color: gray;
}

.latest-posts {
  width: 22.42rem;
  margin-top: 2.5rem;
  background-color: #ffffff;
}

.latest-posts h2 {
  text-align: center;
  font-family: "oswald", sans-serif;
  font-size: 1.25rem;
  margin-top: 2rem;
}

.latest-posts div:nth-child(n + 3) {
  border-top: 1px solid #b8b8b8;
  padding-top: 0.4rem;
}

.latest-posts div:last-child {
  padding-bottom: 1.25rem;
}

.latest-posts .latest-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 6.25rem;
  margin: 0 1.8rem;
}

.latest-posts .latest-card img {
  margin-top: 0.6rem;
  width: 6.5rem;
  height: 4.65rem;
}

.latest-posts .latest-card .title {
  margin-left: 1rem;
}

.latest-posts .latest-card .title h3 {
  font-size: 0.9rem;
  font-family: "oswald", sans-serif;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

.latest-posts .latest-card .title p {
  margin-top: 0rem;
  font-size: 0.9rem;
  font-style: italic;
  color: #b8b8b8;
}

.instagram-card {
  width: 22.42rem;
  margin-top: 2.5rem;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-bottom: 1.8rem;
}

.instagram-card h2 {
  text-align: center;
  font-family: "oswald", sans-serif;
  font-size: 1.25rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.instagram-card .insta-photos img {
  width: 145px;
  height: 150px;
  margin: 0.28rem;
  background-size: auto;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1210px;
}

footer .photo-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 11.85rem;
  overflow: hidden;
  margin-top: 2rem;
}

footer .photo-row img {
  width: 11.25rem;
}

.footer-bottom {
  position: relative;
  width: 100vw;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #b8b8b8;
  background-color: black;
}

.footer-bottom p {
  font-size: 0.85rem;
  margin-left: 4.9rem;
  margin-bottom: 0.85rem;
  letter-spacing: 0.2px;
}

.footer-bottom p::before {
  content: "\f1f9";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: normal;
  font-size: 0.65rem;
  margin-right: 0.25rem;
  left: 34.5rem;
  top: 1.7rem;
}

.footer-bottom a {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.footer-bottom button {
  font-size: 1.1rem;
  width: 2.35rem;
  height: 2.325rem;
  margin-right: 1.7rem;
  background-color: #512E22;
  color: #b8b8b8;
  border: none;
  border-radius: 0.1rem;
}

.footer-bottom button:hover {
  background-color: #cf6262;
  color: white;
}
/*# sourceMappingURL=styles.css.map */